// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.highlight-answer,
.highlighted-event {
    background-color: #28a197;
    color:#fff;
    text-align:center;
    padding:0.1em 2em 0.2em 2em;
    //margin:0 -1em 1em -1em
    margin: 0 0 1em 0
}
    
.highlight-answer p,
.highlighted-event p {
    line-height:2.3em;
    color:#fff
}
    
.highlight-answer p em,
.highlighted-event p em {
    font-size: 2.45em;
    font-style:normal;
    font-weight:700;
    display:block;
    margin-bottom:0.5em;
    color:#fff
}
    
@media (max-width: 640px){
    .highlight-answer,
    .highlighted-event {
        //margin:0 0 1em 0;
        margin:0 -1em 1em -1em;
        font-family:"nta",Arial,sans-serif;
        font-size:48px;
        line-height:1.04167;
        font-weight:400;
        text-transform:none
    }
}

@media (max-width: 640px) and (max-width: 640px) {
    .highlight-answer,
    .highlighted-event {
        font-size:32px;
        line-height:1.09375
    }
}

@media (max-width: 640px) {
    .highlight-answer p,
    .highlighted-event p {
        font-size:1em;
        line-height:inherit
    }   
    .highlight-answer p em,
    .highlighted-event p em {
        font-size:1em;
        display:inline
    }
}
 
.highlighted-event {
    padding: 1.75em 0.75em 1.25em 0.75em
}
 
@media (min-width: 641px) {
    .highlighted-event {
        padding: 1.75em 0.75em 1.25em 0.75em
    }
}
    
@media (max-width: 640px) {
    .highlighted-event {
        padding: 0.5em 0.75em 0.25em 0.75em
    }
}
 
.highlighted-event p {
    font-family:"nta",Arial,sans-serif;
    font-size:24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    padding-top: 9px;
    padding-bottom: 6px;
    font-weight: bold;
    padding: 0;
    margin:0
}
 
@media (max-width: 640px){
    .highlighted-event p {
        font-size:20px;
        line-height:1.2
    }
}
 
@media (min-width: 641px) {
    .highlighted-event p {padding-top:6px;padding-bottom:4px}
}
 
@media (max-width: 640px){
    .highlighted-event p {
        padding:0;
        margin-top:0;
        margin-bottom:0;
        font-weight:bold;
        padding:0;
        margin:0
    }
}
 
@media (min-width: 641px) {
    .highlighted-event p {
        padding:0;
        margin:0;
        font-weight:bold
    }
}
 
.highlighted-event p span {
    display:block;
    font-family:"nta",Arial,sans-serif;font-size:24px;
    line-height:1.25;
    font-weight:400;
    text-transform:none;
    padding-top:9px;
    padding-bottom:6px;
    font-weight:bold
 }
    
@media (max-width: 640px){
    .highlighted-event p span {
        font-size:20px;
        line-height:1.2
    }
}

@media (min-width: 641px) {
    .highlighted-event p span {
        padding-top:6px;
        padding-bottom:4px
    }
}

.highlighted-event p em {
    display:block;
    font-family:"nta",Arial,sans-serif;font-size:80px;
    line-height:1;font-weight:400;
    text-transform:none;
    padding-top:8px;
    padding-bottom:7px;
    font-weight:bold;
    margin-bottom:0;
    padding:0;
    padding-top:0.2em;
    padding-bottom:0.1em
}

@media (max-width: 640px) {
    .highlighted-event p em {
        font-size:53px;
        line-height:1.03774
    }
}

@media (min-width: 641px){
    .highlighted-event p em {
        padding-top:6px;
        padding-bottom:14px
    }
}

@media (max-width: 640px) {
    .highlighted-event p em {
        padding:0;
        padding-top:0.2em;
        padding-bottom:0.1em
    }
}

@media (min-width: 641px) {
    .highlighted-event p em {
        padding:0;
        padding-top:0.2em;
        padding-bottom:0.1em
    }
}

.graph li .amount {
    display: block;
    height: 100%;
    background: #28a197;
    line-height: 1.6em;
    color: #fff;
    text-align: right;
    font-size: 1.3em;
    font-weight: 800;
}

.graph li .amount>* {
    padding-right: 10px;
}
