{% extends "layout_get.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
      Get your State Pension demo videos</h1>
      <p>
      
      </p>
      
   
      <h2 class="heading-large">
        720 dpi version</h2>
      <video width="720" controls>
        <source src="/public/images/get_your_state_pension_demo.mp4" type="video/mp4">
       
      Your browser does not support the video tag.
      </video>
      <p><a href="/public/images/get_your_state_pension_demo.mp4">Download 720dpi video</a></p>
     <!-- <h2 class="heading-large">
        420 dpi version</h2>
      <video width="420" controls>
        <source src="/public/images/get_your_state_pension_demo_420.mov" type="video/mp4">
       
      Your browser does not support the video tag.
      </video>
      <p><a href="/public/images/get_your_state_pension_demo_420.mov">Download 420dpi video</a></p>-->

    </div>
  </div>
</main>

{% endblock %}


