{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="/feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <div id="global-breadcrumb" class="breadcrumb">
                <a class="link-back" href="javascript:history.back()">Back</a>
            </div>
            <article class="content__body">
                <h1 class="heading-large top-title-heading">Terms and conditions</h1>
                <h2 class="heading-medium">Before using Check your State Pension, please read this page carefully</h2>
                <p>If you want to use ‘Check your State Pension’ you have to agree to our terms and conditions. We can update
                    our terms and conditions at any time. You should check this page regularly, so that you are aware of
                    any changes.</p>
                <p>The information given is based on details from your National Insurance record at the time you use the service. 
                    While we will make every effort to keep your record up to date, we do not guarantee that it will be or that it is error and omission free.</p>
                <p>The service is free to use. We cannot guarantee that it will always be available, and we may stop or change
                    it at any time.</p>
                <p>You should not rely on this information, as it does not amount to advice. You must get professional advice
                    when planning for your retirement.</p>
                <p>It’s up to you to make sure that you have everything needed to access our service. It’s also your responsibility
                    if anyone uses your internet connection to access our service, that they read our terms and conditions,
                    and agree to them.</p>
                <p>The service is published under the Open Government Licence, and you can reproduce our information as long
                    as you obey the licence. Our material is subject to Crown copyright protection, unless we say otherwise.
                    <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/"
                        target="_blank" rel="external" data-journey-click="checkmystatepension:external:crowncopyright">More information on Crown copyright</a>.</p>
                <p>We are not liable for any loss or damage incurred from using the service, from being unable to use the service
                    or reliance on anything displayed on the site.</p>
                <p>You can only link to our homepage (you must own the website), as long as it’s fair, legal, does not damage
                    our reputation or take advantage of it. When creating the link, it must not suggest there’s any form
                    of association, approval or endorsement unless we have already agreed that. You must not frame our site
                    on yours. We can withdraw linking permission at any time and without notice.</p>
                <p>The terms and conditions are governed by English law. Any dispute is subject to the exclusive jurisdiction
                    of the courts in England and Wales.</p>
                <p>The service is operated by the Department for Work and Pensions (DWP) and our main offices are at Caxton
                    House, Tothill Street, London, SW1H 9NA.</p>
                <p>Thank you for visiting the site.</p>
            </article>
        </div>
        <!-- /.column-two-thirds -->
        <div class="column-third">
        </div>
        <!-- /.column-third -->
    </div>
    <!-- /.grid-row -->
</main>

{% endblock %}


