{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="/feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <div id="global-breadcrumb" class="breadcrumb">
                <a class="link-back" href="javascript:history.back()">Back</a>
            </div>
           <article class="content__body">
    

    
        <h1 class="heading-large top-title-heading heading-bottom-margin"> You were contracted out </h1>
    
    

<p>In the past you’ve been ‘contracted out’ of the additional State Pension.</p>

<p>When you were contracted out:</p>
<ul class="list-bullet">
    <li>you and your employers paid lower rate National Insurance contributions, or</li>
    <li>some of your National Insurance contributions were paid into another pension scheme, such as a personal or stakeholder pension</li>
</ul>
<p>The amount of additional State Pension you would have been paid if you had not been contracted out is known as the Contracted Out Pension Equivalent (COPE).</p>
<h2 class="heading-medium">Contracted Out Pension Equivalent (COPE)</h2>
<p>Your COPE estimate is<span class="heading-small">


£18.49
 a week</span>.
</p>
<p>This will not affect your State Pension forecast. The COPE amount is paid as part of your other pension schemes, not by the government.</p>
<p>In most cases the private pension scheme you were contracted out to:</p>
<ul class="list-bullet">
    <li>will include an amount equal to the COPE amount</li>
    <li>may not individually identify the COPE amount</li>
</ul>

<p>The total amount of pension paid by your workplace or personal pension schemes will depend on the scheme and on any investment choices.</p>

<p>Find out more about <a href="https://www.gov.uk/government/publications/state-pension-fact-sheets/contracting-out-and-why-we-may-have-included-a-contracted-out-pension-equivalent-cope-amount-when-you-used-the-online-service" rel="external" target="_blank" data-journey-click="checkmystatepension:external:contractedout">COPE and contracting out (opens in new tab)</a>.</p>
<p class="backlink"><a href="/check-your-state-pension/account">Back</a>
</p>


</article>
        </div>
        <!-- /.column-two-thirds -->
        <div class="column-third">
             <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Get help</h2>
          <p>Helpline 0345 608 0126</p>
          <p class="font-xsmall">Monday to Friday: 8am to 6pm</p>
          <p class="font-xsmall">Calls cost up to 12p a minute from landlines. Calls from mobiles may cost more.</p>

        </div>
        <!-- /.column-third -->
    </div>
    <!-- /.grid-row -->
</main>

{% endblock %}


