{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="phase-banner">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="/feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <article class="content__body mainpage ">
                <h1 class="heading-large top-title-heading heading-bottom-margin"> Your State Pension </h1>
                <div class="highlighted-event">
                    <p>You can get your State Pension on 8 November 2039.
                        <span class="nowrap">Your forecast is</span>
                    </p>
                    <p><em>£159.55 a week</em></p>
                    <p>£693.76 a month, £8,325.09 a year</p>
                </div>
                <p>Your forecast</p>
                <ul class="list-bullet">
                    <li>is not a guarantee</li> 
                    <li>is based on the current law</li>
                    <li>does not include any increase due to inflation</li>
                    <li>may be different if there are any changes to your National Insurance information - there is more about this in the <a href="tandcs">terms and conditions</a>.</li>

                </ul>
                <h2 class="heading-medium">You need to continue to contribute National Insurance to reach your forecast</h2>
                <div class="chart-block">
                    <span>Estimate based on your National Insurance record up to <span class="nowrap">5 April 2017</span></span>
                    <ul class="graph">
                        <li><span class="amount" style="width:76%">
                    <span>£121.35 a week</span></span>
                        </li>
                    </ul>
                </div>
                <div class="chart-block">
                    <span>Forecast if you contribute another 9 years before <span class="nowrap">5 April 2039</span></span>
                    <ul class="graph">
                        <li>
                            <span class="amount" style="width:100%">
                 <span>£159.55 a week</span>
                            </span>
                        </li>
                    </ul>
                </div>
                <h2 class="heading-medium">£159.55 is the most you can get</h2>
                <p>You cannot improve your forecast any further, unless you choose to put off claiming.</p>
                <p>If you’re working you may still need to pay National Insurance contributions until 8 November 2039 as they
                    fund other state benefits and the NHS.</p>
                <a href="NI_record">View your National Insurance record</a>
                <h2 class="heading-medium">You’ve been in a contracted-out pension scheme</h2>
                <p>Like most people, <a href="contracted_out">you were contracted out of part of the State Pension</a>.</p>
            </article>
        <!-- /.tab-pane -->
    </div>
    <!-- /.column-two-thirds -->
    <div class="column-third">

        <aside class="govuk-related-items" role="complementary">
            <h2 class="heading-medium" id="subsection-title">Get help</h2>
            <p>Helpline 0345 608 0126</p>
            <p class="font-xsmall">Monday to Friday: 8am to 6pm</p>
            <p class="font-xsmall">Calls cost up to 12p a minute from landlines. Calls from mobiles may cost more.</p>
    </div>

    <div class="inner group"></div>
    <!-- inner group -->
    </aside>

    </div>
    <!-- related container -->
    </div>
    <!-- /.column-third -->
    </div>
    <!-- /.grid-row -->


    </main>

{% endblock %}


