{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<main id="content" role="main" class="">
    <div class="grid-row">
        <div class="column-two-thirds">
  
 
      <h1 class="heading-xlarge">
        
          Check your State Pension
      </h1>
  

  
        
  
<p>Use this service to find out:</p>

<ul class="list-bullet">
  <li>how much State Pension you could get (this amount is also known as your State Pension forecast)</li>
  <li>when you can get it</li>
  <li>how to increase it, if you can</li>
</ul>
<br>
<div role="note" aria-label="Information" class="panel panel-border-wide">
<p>This page is also available in Welsh (<a href="/gwirio-eich-pensiwn-y-wladwriaeth">Cymraeg</a>).</p>
</div>
<br>
<p><a href="http://gov.uk/government/news/proposed-new-timetable-for-state-pension-age-increases">The State Pension age is under review</a> and may change in the future.</p>
<div role="note" aria-label="Information" class="panel panel-border-wide">
<p>You can’t use this service if you’re already getting your State Pension or if you’ve delayed (‘deferred’) claiming it.</p>
</div>

    <p id="get-started" class="get-started group">
      <a href="login" rel="external" data-transaction-slug="check-state-pension" class="button button-start" role="button">Start now</a>
    </p>
 
    <h2 class="heading-medium">Other ways to apply</h2>
    





    
    <p>If you’ll reach <a href="http://gov.uk/state-pension-age">your State Pension age</a> in more than 30 days, call the <a href="http://gov.uk/future-pension-centre">Future Pension Centre</a> and ask for a statement.</p>

<p>You can also fill in the <a href="http://gov.uk/government/publications/application-for-a-state-pension-statement">BR19 application form</a> and send it in the post.</p>

<p>You’ll get your statement within 10 working days.</p>

<h2 class="heading-medium">If you’re already getting your State Pension or have delayed claiming it</h2>

<p>To get information about your State Pension, contact the <a href="http://gov.uk/contact-pension-service">Pension Service</a> if you’re in the UK or the <a href="http://gov.uk/international-pension-centre">International Pension Centre</a> if you live abroad.</p>

<h2 id="if-youve-worked-and-paid-national-insurance-in-the-isle-of-man">If you’ve worked and paid National Insurance in the Isle of Man</h2>

<p>Contact the <a href="http://gov.uk/future-pension-centre">Future Pension Centre</a> to get information about your State Pension.</p>




</div>
<div class="column-one-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">State Pension</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
       
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.1" data-track-label="http://gov.uk/state-pension" data-track-options="{&quot;dimension28&quot;:&quot;6&quot;,&quot;dimension29&quot;:&quot;The basic State Pension&quot;}" href="/state-pension">The basic State Pension</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.2" data-track-label="http://gov.uk/state-pension-age" data-track-options="{&quot;dimension28&quot;:&quot;6&quot;,&quot;dimension29&quot;:&quot;Check your State Pension age&quot;}" href="/state-pension-age">Check your State Pension age</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.3" data-track-label="http://gov.uk/new-state-pension" data-track-options="{&quot;dimension28&quot;:&quot;6&quot;,&quot;dimension29&quot;:&quot;The new State Pension&quot;}" href="/new-state-pension">The new State Pension</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.4" data-track-label="http://gov.uk/claim-state-pension-online" data-track-options="{&quot;dimension28&quot;:&quot;6&quot;,&quot;dimension29&quot;:&quot;Claim your State Pension online&quot;}" href="/claim-state-pension-online">Claim your State Pension online</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.5" data-track-label="http://gov.uk/early-retirement-pension" data-track-options="{&quot;dimension28&quot;:&quot;6&quot;,&quot;dimension29&quot;:&quot;Early retirement, your pension and benefits&quot;}" href="/early-retirement-pension">Early retirement, your pension and benefits</a>
            </li>
            <li class="related-items-more">
              <a data-track-category="relatedLinkClicked" data-track-action="1.6" data-track-label="http://gov.uk/browse/working/state-pension" data-track-options="{&quot;dimension28&quot;:&quot;6&quot;,&quot;dimension29&quot;:&quot;More&quot;}" href="/browse/working/state-pension">
                More
                  <span class="visuallyhidden">
                    in
                    State Pension
                  </span>
</a>            </li>
        </ul>
      </nav>
  </aside>
</div>
 </div>
</main>
{% endblock %}


