{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
      Check your State Pension</h1>
      <p>
       Testing for legal caveat on National Insurance information
      </p>
      <h2 class="heading-medium">30 June 2017</h2>
      <ul class="list list-bullet">
        
        <li><a href="/caveat1/continue_to_contribute">move the caveat under NI link</a></li>
        <li><a href="/caveat2/continue_to_contribute">put "not a guarantee" above the bullets</a></li>
      </ul>
      <h2 class="heading-medium">16 June 2017</h2>
      <ul class="list list-bullet">
        
        <li><a href="/caveat/continue_to_contribute">Continue to contribute</a></li>
      </ul>
    </div>
  </div>
</main>

{% endblock %}


