{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
      Check your State Pension</h1>
      <h2 class="heading-medium">Campaign "Get to know your State Pension"</h2>
      <p>Link from signout page to campaign</p>
     </p>
    
     <ul class="list list-bullet">
      <li><a href="/campaign/sign-out">Sign out page</a></li>
      </ul>

      <h2 class="heading-medium">Increase in State Pension age</h2>
      <p>Warn users that the age may go up from 67 to 68</p>
     </p>
    
     <ul class="list list-bullet">
      <li><a href="/caveat8/continue_to_contribute">final version - header about proposed change without State Pension age</a></li>
      <li><a href="/caveat11/continue_to_contribute">State Pension age separate from the amount</a></li>
      <li><a href="/caveat9/continue_to_contribute">State Pension age in years only</a></li>
      <li><a href="/caveat10/continue_to_contribute">State Pension age in years, months and days</a></li>
      <li><a href="/caveat7/continue_to_contribute">header about proposed change with State Pension age</a></li>
       <li><a href="/caveat5/continue_to_contribute">changes to your forecast header</a></li>
       <li><a href="/caveat6/continue_to_contribute">changes to your forecast header - with State Pension age</a></li>
      
       <li><a href="/caveat3/continue_to_contribute">sentence without State Pension age and link to calculator</a></li>
       <li><a href="/caveat4/continue_to_contribute">sentence without State Pension age - different wording</a></li>
     </ul>
      <h2 class="heading-medium">National Insurance caveat</h2>
       <p>Legal caveat to warn users that National Insurance information may not be up-to-date
      </p>
     
      <ul class="list list-bullet">
        
        <li><a href="/caveat1/continue_to_contribute">final version - move the caveat under NI link</a></li>
        <li><a href="/caveat2/continue_to_contribute">put "not a guarantee" above the bullets</a></li>
   
        
        <li><a href="/caveat/continue_to_contribute">add caveat to the bullets </a></li>
      </ul>
    </div>
  </div>
</main>

{% endblock %}


