{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
 
    <div class="grid-row">
        <div class="column-two-thirds">
          
                <h1 class="heading-large top-title-heading heading-bottom-margin"> You've signed out of your account </h1>
              
<p>To use the service again you’ll need to <a href="">sign in</a>.</p>

    <p><a href="">What did you think of this service?</a> (takes 2 minutes)</p>
    <h2 class="heading-medium">Having more in retirement</h2>
    <p>Your State Pension is a good foundation, but you should consider how much you’d like in your pension pot when you retire, and think carefully about saving for your future.
    </p>
<p><a href="https://www.yourpension.gov.uk/having-more-for-retirement/">Having more in retirement</a></p>

               
                 
        <!-- /.tab-pane -->
    </div>
    <!-- /.column-two-thirds -->
    <div class="column-third">

        <aside class="govuk-related-items" role="complementary">
            <h2 class="heading-medium" id="subsection-title">More about pensions</h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="font-xsmall">
                  <li><a href="#">Pension Wise - understanding your pension options</a></li>
                  <li><a href="#">Planning your retirement income</a></li>
                  <li><a href="#">Defer your State Pension<span class="visuallyhidden">in Subsection</span></a></li>
                </ul>
              </nav>
            
              
         
    </div>

    <div class="inner group">
    <!-- inner group -->
    </aside>

    </div>
    <!-- related container -->
    </div>
    <!-- /.column-third -->
    </div>
    <!-- /.grid-row -->


    </main>

{% endblock %}


