{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<main id="content" role="main" class="">
    <div class="grid-row">
        <div class="column-two-thirds">
  
 
      <h1 class="heading-xlarge">
        
          Check your State Pension
      </h1>
  

  
        
  
<p>Use this service to find out:</p>

<ul class="list-bullet">
  <li>how much State Pension you could get (this amount is also known as your State Pension forecast)</li>
  <li>when you can get it</li>
  <li>how to increase it, if you can</li>
</ul>




</div>
 </div>
</main>
{% endblock %}


